#info {
    height:130px;
}

#log_area {
    width:20%;
}

#info div {
    float:left;
    padding:5px;
    border: 1px solid gray;
    height:120px;
}

#select {
    width:15%;
}

h3 {
    margin-top:3px;
    margin-bottom:3px;
    background-color:lightgray;
}

#stat {
    width:60%;
}

div {
    text-align:center;
}

#hostname {
    width:20%;
}

#name {
    width:20%
}

#stats_info {
    width:55%;
}

textarea {
    width:90%;
}