body, html {
    margin: 0;
    padding: 0;
    height:100%;
}

#info {
    position: absolute;
    top: 0px;
    width:100%;
}

#select {
    float:left;
    width:15%;
    height:500px;
}

h3 {
    margin-top:3px;
    margin-bottom:3px;
}

div {
    text-align:center;
}

textarea {
    width:98%;
    opacity: 0.8;
}

#stat {
    float:left;
    height:7em;
    width:85%;
    font-size:18px;
}

#stats_info_area {
    height:100%;
    background-color:black;
    color:white;
    font-size:18px;
}

#log {
    height:200px;
}
